<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="shortcut icon" href="/static/img/" type="image/x-icon">
    <title>McStatisics</title>
</head>

<body>

    <!-- Navbar -->

    <div class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a href="" class="navbar-brand text-info">McStatistics</a>
                <!-- <li class="navbar-nav nav-item"><a href="/command" class="btn btn-outline-info">Commands</a></li> -->
            </div>
        </div>
    </div>


    <!-- Info -->


    <section class="bg-dark text-light text-center py-5">
        <div class="container">
            <div style="margin-top: 50px;">
                <div>
                    <h1 style="font-size: 80px;"><span style="color: lightblue">McStatistics</span></h1>
                    <p style="font-size: 20px;">McStatistic is a bot that makes it easier for you to monitor <br>
                        your Minecraft server with additional interesting features</p>
                    <a class="btn btn-info" href="https://discord.com/oauth2/authorize?client_id=971570577057935390&permissions=85008&scope=bot">Invite Bot</a>
                    <a class="m-2 btn btn-light" href="https://discord.gg/gRUenWCDs8">Support Server</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Features -->


    <section id="Features" class="bg-dark py-5">
        <div class="container mt-5">
            <h2 class="text-center text-light mb-4">
                Features
            </h2>
            <div class="row text-center">
                <div class="col-sm">
                    <div class="card text-light mb-3" style="background-color: #2e343b;">
                        <div class="h1 mt-3">
                            <i class="bi bi-clock-history"></i>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title text-info">Easy to Use</h4>
                            <p class="card-text">
                                to setup this bot is really <br>
                                easy with just 1 command and <br>
                                everything will be done
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card text-light mb-3" style="background-color: #2e343b;">
                        <div class="h1 mt-3">
                            <i class="bi bi-capslock-fill"></i>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title text-info">24/7 Online</h4>
                            <p class="card-text">
                                We try to make this bot <br>
                                survive with 99% uptime <br>
                                without any downtime <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card text-light mb-3" style="background-color: #2e343b;">
                        <div class="h1 mt-3">
                            <i class="bi bi-folder2-open"></i>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title text-info">Lots of features</h4>
                            <p class="card-text">
                                We try to always try to add <br>
                                features so that the bot is <br>
                                more interactive when used
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Statics -->


    <section id="Statics" class="py-5 bg-dark text-light">
        <div class="container">
            <div class="py-2 text-center">
                <h2>Bot Statics</h2>
            </div>
            <div class="row align-items-center justify-content-center text-center -5">
                <div class="col">
                    <img src="/static/img/statics.svg" alt="" class="img-fluid d-none d-md-block">
                </div>
                <div class="col-sm p-5 h1">
                    <i class="bi bi-hdd-stack text-primary"></i>
                    <h5>{{ total_guild }}</h5>
                    <h5>Server</h5>
                </div>
                <div class="col-sm p-5 h1">
                    <i class="bi bi bi-people-fill text-primary"></i>
                    <h5>{{ total_member }}</h5>
                    <h5>Users</h5>
                </div>
                <div class="col-sm p-5 h1">
                    <i class="bi bi bi-hash text-primary"></i>
                    <h5>{{ total_channel }}</h5>
                    <h5>Channels</h5>
                </div>
            </div>

        </div>
    </section>


    <!-- FAQ -->

    <section id="FAQ" class="bg-dark py-5">
        <div class="container">
            <h2 class="text-center mb-3" style="color:white">
                Important Information
            </h2>
            <div class="bg-dark text-light accordion accordion-flush" id="your-faq">
                <div class="accordion-item" style="background-color: #2e343b;">
                    <h5 class="accordion-header text-light" id="qusetion-1">
                        <button class="accordion-button collapsed text-light" style="background-color: #2e343b;" type="button" data-bs-toggle="collapse" data-bs-target="#answer-1">
                            Privacy Policy
                        </button>
                    </h5>
                    <div class="accordion-collapse collapse p-3 text-light" style="background-color: #2e343b;"id="answer-1" data-bs-parent="#your-faq">
                        <h3>Privacy Policy</h3>
                        <hr>
                        The use of this application ("McStatistics") in a server requires the collection of some specific user data. <br>
                        The Data collected includes Guild ID, Message ID, but is not limited to Discord user ID values <br> 
                        Use of the Bot is considered an agreement to the terms of this Policy.
                        
                        <br> <br>
                        <h3>Access to Data</h3>
                        <hr>
                        Access to Data is only permitted to Bot's developers, and only in the scope required for the development, <br>
                        testing, and implementation of features for Bot. Data is not sold, provided to, or shared with any third party, <br>
                        except where required by law or a Terms of Service agreement

                        <br> <br>
                        <h3>Data Collected by command</h3>
                        <hr>
                        <ul>
                            <li>Role ID, User ID, Server Configuration, Message ID</li>
                            <li>Server Minecraft Address</li>
                            <li>Data and content for automated tasks</li>
                            <li>Saved references, urls, Server minecraft icons</li>
                        </ul>

                        <h3>Underage Terms</h3>
                        <hr>
                        The use of the Bot is not permitted for minors under the age of 13, or under the age of legal consent for their country. <br>
                        This is in compliance with the Discord Terms of Service. No information will be knowingly stored from an underage user. <br>
                        If it is found out that a user is underage we will take all necessary action to delete the stored data.
                    
                        <br> <br>
                        <h3>Agreement</h3>
                        <hr>
                        By adding the McStatisics bot, you agree to all the terms of <br>
                        this bot and also the <a href="https://discord.com/terms">Discord terms of service</a> and <a href="https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service">Developers Terms of Service</a>
                    </div>
                </div>
                <div class="accordion-item" style="background-color: #2e343b;">
                    <h5 class="accordion-header text-light" id="qusetion-2">
                        <button class="accordion-button collapsed text-light" style="background-color: #2e343b;" type="button" data-bs-toggle="collapse" data-bs-target="#answer-2">
                            Terms of Service
                        </button>
                    </h5>
                    <div class="accordion-collapse collapse p-3" id="answer-2" data-bs-parent="#your-faq">
                        <h3>Terms of Service (Usage Agreement)</h3>
                        <hr>
                        By adding bots ("McStatistics"), you agree to the Terms Policy above. You acknowledge and acknowledge that you have permission ("Manage Server") <br>
                        rights to invite bots to the Discord server (Server). This privilege will be revoked if you violate the ToS, <br>
                        Privacy Policy and Community Guidelines of Discord Inc. <br>
                        Through Inviting the bot may it collect specific data as described in its Policy <br>
                        The bot may not be used by individuals under the minimum age described in Discord's Terms of Service <br>
                        We do not claim to have the copyright ownership of any of Discord's assets, trademarks or other intellectual property <br>
                        Contact us via <a href="https://discord.gg/gRUenWCDs8">McStatistics Discord Support</a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->

    <div class="footer-clean bg-dark">
        <footer>
            <div class="page-footer font-small text-light">
                <div class="footer-copyright text-center">
                    Ashesh © 2023 Copyright
                </div>
            </div>
        </footer>
    </div>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>